* {
  box-sizing: border-box;
}
body {
   margin: 0;
   padding 0;
   background: #6246A3;
   font-family: 'Oswald', sans-serif;
}

.topContainer {
  margin-left: 2.5%;
}

.headers {
  display:flex;
  justify-content: flex-start;
}

#chatHeader {
  width:65%;
  margin-right: 2.5%;
  text-align: center;
}

#userHeader {
  text-align: center;
  width: 30%;
}

#informationBoxes {
  display:flex;
  justify-content: flex-start;
}

#messageBox {
  display: inline-block;
  position: relative;
  width:65%;
  height: 80vh;
  margin-right: 2.5%;
  margin-bottom: 3%;
  background: #FFFFFF;
  overflow-y: scroll;
  border-radius: 10px;
}

#userBox {
  display: inline-block;
  width:30%;
  height: 80vh;
  margin-bottom: 3%;
  background: #FFFFFF;
  overflow-y: scroll;
  border-radius: 10px;
}

#messages {
  background: #FFFFFF;
  list-style-type: none;
  height: 75vh;
  position: absolute;
  bottom: 0;
  overflow-y: : scroll;
}

#messages li {
  padding: 5% 0%;
  background: #FFFFFF;
}

#userList {
  background: #FFFFFF;
  list-style-type: none;
}

#userList li {
  padding: 1% 0%;
  background: #FFFFFF;
  font-weight: bold;
  line-height: 2em;
  font-size: 1.125em;
  text-align: center;
}

.userID {
  font-style: italic;
}

form {
  background: #000000;
  padding: 1%;
  position: fixed;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 1.5%;
  border-radius: 10px;
  bottom: 0;
}

form input {
   border: none;
   padding: 0.5%;
   width: 90%;
   border-radius: 10px;
}

form input:focus {
  outline: none;
}

form button {
  width: 9%;
  background: #9e7FE8;
  border: none;
  margin-left: 1%;
  border-radius: 10px;
  padding: 0.5%;
  font-weight: bold;
}

.smallHeader {
  display: none;
}

@media screen and (max-width: 1200px) {
  form {
    margin-bottom: 0;
    position: fixed;
    width: 100%;
  }

  form input {
     padding: 1.5%;
     width: 70%;
  }

  form button {
    width: 25%;
    background: #9E7FE8;
    margin-left: 1%;
    padding: 1.5%;
  }

  #informationBoxes {
    display: block;
  }

  #messageBox {
    margin-top: 2.5%;
    margin-left: 2.5%;
    display: block;
    width:95%;
    margin-bottom: 3%;
  }

  #userBox {
    display:block;
    margin-left: 2.5%;
    width:95%;
    margin-bottom: 5%;
  }

  .headers {
    display: none;
  }

  .smallHeader {
    display: block;
    text-align: center;
  }
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #FFFFFF;
}
